/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@define-color highlight #888888;
@define-color base1     #000000;
@define-color warn      #bbbbbb;
@define-color crit      #ff5555;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: @warn;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: @crit;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: @base1;
    color: #ffffff;
    font-family: Iosevka, monospace;
    font-size: 13px;
    font-weight: 400;
}

/* Every modules */
#mode,
#network,
#idle_inhibitor,
#cpu,
#memory,
#backlight,
#pulseaudio,
#battery,
#clock,
#tray {
    padding:0.5rem 0.6rem;
    margin: 1px 0px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#workspaces {
    font-size:13px;
}

#workspaces button {
    border-radius: 5px;
    color: #ffffff;
    padding: 1px 6px;
    margin-right: 2px;
    margin-left: 2px;
}

#workspaces button.focused {
    border: 1px solid #d8dee9;
    background: #111111;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color: white;
    margin-left: 5px;
    padding: 7px;
}

#window {
    font-weight: bold;
}

#network.disconnected {
    color: @warn;
}

#cpu.warning {
    color: @warn;
}

#cpu.critical {
    color: @crit;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @warn;
 }

#memory.critical {
    color: @crit;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#backlight.icon {
}

#pulseaudio {
}

#pulseaudio.muted {
    color: @highlight;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @warn;
}

#battery.critical {
    color: @crit;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}
